article {
    padding: 1rem;
    color: #EAD8B1;
    background-color: #CB6040;
  }
  
  h2 {
    margin: 0;
  }
  
  time {
    color: #EAD8B1;
  }
  
  .actions {
    text-align: right;
    margin: 0;
  }
  
  .actions button {
    font: inherit;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #EAD8B1;
    color: #CB6040;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #EAD8B1;
    color: #CB6040;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }